html, body{
    background-image: url('image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #48e248;
}

.login-form {
    width: 600px;
    height: 450px;
    padding: 20px;
    top: 22px;
	background:  url('image.jpg');
	border: solid 7px rgb(197, 206, 211);
	border-radius: 60px;
}

.user-input-box:nth-child(2n){
	justify-content: end;
}

.main-user-info{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.user-input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15px 15px;
    padding-bottom: 13px;
}
.btn btn-primary {
    width: 0px;
}

h3 {
    font-size: 40px;
	font-family: brush script mt ;
	color:black;
}

.card-title {
    font-weight: 700;
}

.btn{
    background: rgb(164, 186, 199) !important;
    color: black;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}